.counter {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--accent);
  background: var(--accent-bg);
  border: 2px solid transparent;
  transition: border-color 0.3s;
  margin-bottom: 24px;

}

.button {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.banlist {
  margin-top: 24px;
  padding: 10px;
  border: 3px solid;
  margin-bottom: 24px;
}

button {
  font-size: 12px;
  padding: 10px 10px;
  border-radius: 15px;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: rgb(247, 225, 229);
}

